.login-form {
    width: 450px;
    margin: 0 auto;
}
.headline {
    text-align: center;
}
.form-row {
    margin-bottom: 8px;
    overflow: hidden;
}
.text-field {
    float: right;
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding: 0 5px;
    width: 287px;
    border: 1px solid #ABADB3;
    font-size: larger;
}
.label-text {
    font-size: x-large;
}
.check-mark {
    margin-left: 23px;
    width: 29px;
    cursor: pointer;
    transform: scale(1.5);
}
.registration-login {
    width: 450px;
    height: 30px;
}
.buttons {
    display: inline-block;
    width: 222px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}
.log-sub-link {
    display: block;
    width: 222px;
    height: 30px;
    background: url(../images/Log_reg_button.png) no-repeat;
    background-size: 222px 30px;
    border: none; /*граница по умолчанию отсутствует*/
    outline: none; /*граница при нажатии отсутствует*/
    font-family: Arial;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.reg-log-link {
    background: url(../images/Log_reg_button.png) no-repeat;
    background-size: 222px 30px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    width: 222px;
    height: 30px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    cursor: pointer;
}