body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#58a492 -8%, #213e58, #0e0e1f);
    overflow-x: hidden;
}

.login-form {
    width: 400px;
    margin: 0 auto;
}

.headline {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url(../images/694423.png);
    background-size: cover;
}

.country-sel {
    height:29px;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 29px;
}
.field-select {
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding: 0 5px;
    width: 98%;
    border: 1px solid #ABADB3;
    font-size: larger;
    border-radius: 29px;
    background: linear-gradient(white -8%, #929292);
    outline: none; /*граница при нажатии отсутствует*/
}

.text-field {
    height: 29px;
    margin: 0;
    padding: 0 10px;
    width: 93%;
    border: 1px solid #ABADB3;
    font-size: larger;
    background: linear-gradient(white -8%, #d8d8d8);
    border-radius: 29px;
    outline: none; /*граница при нажатии отсутствует*/
}
.label-text {
    font-size: x-large;
}
.check-mark {
    width: 29px;
    cursor: pointer;
    transform: scale(1.5);
}
.registration-login {
    width: 100%;
    height: 30px;
}
.buttons-submit {
    display: inline-block;
    width: 47%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}
.buttons-login {
    display: inline-block;
    width: 47%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    float: right;
}

.log-sub-link:disabled,
.log-sub-link[disabled]{
    border: 1px solid #999999;
    background: #cccccc;
    color: #666666;
}
.log-sub-link {
    display: block;
    width: 175px;
    height: 30px;
    background-size: 175px 30px;
    border: none; /*граница по умолчанию отсутствует*/
    outline: none; /*граница при нажатии отсутствует*/
    font-family: Arial;
    color: white;
    background: linear-gradient(#fffc00 -8%, #d45900);
    font-size: 20px;
    cursor: pointer;
    border-radius: 29px;
}
.reg-log-link {
/*    background: url(../images/Log_reg_button.png) no-repeat;*/
    background: linear-gradient(#946cff -8%, #4b00b6);
    background-size: 175px 30px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    width: 175px;
    height: 30px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 29px;
}
.notice {
    display: none;
    color: red;
    font-size: small;
    font-style: italic;
    height: 29px;
    padding-bottom: 25px;
}

.notice-display {
   display: inline-block;
}

.label-text {
    color: #8b8b8b;
    padding-left: 3px;
}

.choose-sex {
    transform:scale(1.3);
}

.checking-mistake {
    -webkit-animation: color-change 3s infinite;
    -moz-animation: color-change 3s infinite;
    -o-animation: color-change 3s infinite;
    -ms-animation: color-change 3s infinite;
    animation: color-change 3s infinite;
}
@-webkit-keyframes color-change {
    0% { border: 2px solid red;
        border-radius: 29px;}
    50% { border: 2px solid #ffffff;
        border-radius: 29px;}
    100% { border: 2px solid red;
        border-radius: 29px;}
}
@-moz-keyframes color-change {
    0% { border: 2px solid red;
        border-radius: 29px;}
    50% { border: 2px solid #ffffff;
        border-radius: 29px;}
    100% { border: 2px solid red;
        border-radius: 29px;}
}
@-ms-keyframes color-change {
    0% { border: 2px solid red;
        border-radius: 29px;}
    50% { border: 2px solid #ffffff;
        border-radius: 29px;}
    100% { border: 2px solid red;
        border-radius: 29px;}
}
@-o-keyframes color-change {
    0% { border: 2px solid red;
        border-radius: 29px;}
    50% { border: 2px solid #ffffff;
        border-radius: 29px;}
    100% { border: 2px solid red;
        border-radius: 29px;}
}
@keyframes color-change {
    0% { border: 2px solid red;
        border-radius: 29px;}
    50% { border: 2px solid #ffffff;
        border-radius: 29px;}
    100% { border: 2px solid red;
        border-radius: 29px;}
}