.login-form {
    width: 368px;
    margin: 0 auto;
}
.headline {
    text-align: center;
}
.form-row {
    margin-bottom: 8px;
    overflow: hidden;
}
.country-sel {
    height:30px;
    width: 368px;
    margin-bottom: 8px;
}
.field-select {
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    border: 1px solid #ABADB3;
    font-size: larger;
}
.text-field {

    height: 29px;
    line-height: 19px;
    margin: 0;
    padding: 0 5px;
    width: 354px;
    border: 1px solid #ABADB3;
    font-size: larger;
}
.label-text {
    font-size: x-large;
}
.check-mark {
    width: 29px;
    cursor: pointer;
    transform: scale(1.5);
}
.registration-login {
    width: 368px;
    height: 30px;
}
.buttons-submit {
    display: inline-block;
    width: 47%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}
.buttons-login {
    display: inline-block;
    width: 47%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    float: right;
}
.log-sub-link {
    display: block;
    width: 175px;
    height: 30px;
/*    background: url(../images/Log_reg_button.png) no-repeat;*/
    background-color: slateblue;
    background-size: 175px 30px;
    border: none; /*граница по умолчанию отсутствует*/
    outline: none; /*граница при нажатии отсутствует*/
    font-family: Arial;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.log-sub-link:disabled,
.log-sub-link[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.reg-log-link {
/*    background: url(../images/Log_reg_button.png) no-repeat;*/
    background-color: slateblue;
    background-size: 175px 30px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    width: 175px;
    height: 30px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.notice {
   display: none;
}

.notice-display {
   display: block;
}